<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>HomePage</title>
</head>
<body>
     <%- include('./partials/nav.ejs') %>
    <div class="container mt-3 ">
      Home page
    </div>
   <%- include('./partials/script.ejs') %>
</body>
</html>